page-input-profile
  div.wrap-page
    atom-profile-input-textarea(each='{item in contentsForTextarea}' content='{item}')
    //textarea(placeholder="Content...", onkeyup="{checkLetPost}")#profileInput.px4.py4


  style(scoped, type='less').
    :scope {
      .wrap-page {
        display: block;
        width: 100%;
      }
    }

  script.

    var self = this;
    this.contentsForTextarea = riot.contentsForInputProfile;

    this.on('mount', function(){
      $('modal-content').addClass('show');
      $('modal-content').scrollTop(0);
      
      // 次の画面遷移時にフェードインを防止
      riot.enableFadeIn = false;

      if(location.hash != '#mypage'){
        $(document).on("custom:close", function() {
          $('modal-content').removeClass('show');
          self.unmount(true);

          riot.enableReloadContent = false;
        });
      }
    });

