@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6on0tt');
  src:  url('fonts/icomoon.eot?6on0tt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6on0tt') format('truetype'),
    url('fonts/icomoon.woff?6on0tt') format('woff'),
    url('fonts/icomoon.svg?6on0tt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ionicons_svg_md-notifications:before {
  content: "\e904";
}
.icon-ionicons_svg_md-person-add-2:before {
  content: "\e900";
}
.icon-ionicons_svg_md-list:before {
  content: "\e901";
}
.icon-ionicons_svg_md-link:before {
  content: "\e902";
}
.icon-ionicons_svg_ios-link:before {
  content: "\e903";
}
