module-user-account.f.fc
  div.wrap-module.py30
    div.wrap-img.mb20
      img(src="{opts.content.photoUrl + '?width=320&amp;height=320'}" alt='')
    p.name.mb26 {opts.content.name}
    div.wrap-button.mb40.f.fc
      item-button-write-profile(if="{showButton}" uid="{opts.uid}")

  style(scoped, type='less').
    :scope {
      .wrap-module {
        .wrap-img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          overflow: hidden;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .name {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          text-align: center;
        }
      }
    }

  script.

    var self = this;

    this.showButton = true;
    
    if(opts.uid == session.user.uid) this.showButton = false;

    this.on('mount', function() {
      
    });

    self.update()